node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
contracts/Factory/CrowdfundFactory.sol
contracts/Factory/DaoFactory.sol
contracts/Factory/PicardyVaultFactory.sol
contracts/Factory/TimeLockFactory.sol
contracts/Products/CrowdfundNonRefundable.sol
contracts/Products/PicardyVault.sol
contracts/Governance
contract/Tokens/VSToken.sol
contracts/V2/AutomationV2
contracts/V2/ProductsV2
contracts/V2/FactoryV2
Deployed_address
externalAdapter
contracts/PicardyHub.sol
packageTester

